KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/trent/.Xauthority", RUN+="/bin/bash /usr/local/bin/video_out_switch.sh
